# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# Black Duck Security Action allows you to integrate Static Analysis Security Testing (SAST) and Software Composition Analysis (SCA) into your CI/CD pipelines.
# For more information about configuring your workflow,
# read our documentation at https://github.com/blackduck-inc/black-duck-security-scan

name: CI Black Duck security scan

on:
  push:
    branches: [ "master" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]
  schedule:
    - cron: '17 0 * * 3'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      security-events: write
      actions: read

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Black Duck SCA scan
        uses: blackduck-inc/black-duck-security-scan@805cbd09e806b01907bbea0f990723c2bb85abe9
          ### ---------- BLACKDUCK SCA SCANNING: REQUIRED FIELDS ----------
          blackducksca_url: https://sca.field-test.blackduck.com/ 
          blackducksca_token: YzFhNjQ5MDQtNTA1MS00M2RiLTgyYTEtYzhlMDAzMTMxNzE4OjI1NDAwNWZjLTQwNmUtNDliNS1iZjJiLTE2M2U0N2Y2N2VhOA== 
          blackducksca_fixpr_enabled: true
          blackducksca_prComment_enabled: true
          blackducksca_reports_sarif_create: true
          blackducksca_upload_sarif_report: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          include_diagnostics: false

